<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Thin.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-VariableFont_wght.ttf</string>
		<string>EuclidCircularA-Medium.ttf</string>
		<string>EuclidCircularA-Regular.ttf</string>
		<string>EuclidCircularA-Semibold.ttf</string>
		<string>EuclidCircularA-Bold.ttf</string>
		<string>AvenirNextLTPro-Bold.otf</string>
		<string>AvenirNextLTPro-Regular.otf</string>
		<string>AvenirNextLTPro-Demi.otf</string>
		<string>AvenirNextLTPro-Medium.otf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Barlow-Regular.ttf</string>
		<string>Barlow-Black.ttf</string>
		<string>Barlow-BlackItalic.ttf</string>
		<string>Barlow-Bold.ttf</string>
		<string>Barlow-BoldItalic.ttf</string>
		<string>Barlow-Medium.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
		<string>Rajdhani-Regular.ttf</string>
		<string>Rajdhani-SemiBold.ttf</string>
		<string>Rajdhani-Bold.ttf</string>
		<string>Rajdhani-Medium.ttf</string>
		<string>Rajdhani-Light.ttf</string>
		<string>SuisseScreen-Regular.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
